doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/frappe-charts/dist/frappe-charts.min.css')
  
  body
    block content
  script(src="/javascripts/main.js")
  script(src="https://unpkg.com/frappe-charts@latest")
